<header id="stickyHeader">

    <div class="header-top-bar">
      <div class="container"> 
        <div class="bottom-bar">
          <div class="logo">
            <a href="index.html#">
              <img alt="logo" 
              src="assets/img/logo.png"
               
              >
            </a>
          </div>
          <nav> 
  
          </nav>
          <div class="login">
            <a href="index.html#"><i class="flaticon-internet"></i>EN | $</a>
            <a class="register" href="index.html#"><span><i class="flaticon-user"></i>Log in | Register</span></a>
          </div>
        </div>
      </div>
    </div>
  </header>