<section class="gap locations-section" style="padding: 100px 0 0 0 !important;">
  <div class="container-fluid">
    <div class="row">
      <!-- Columna izquierda -->
      <div class="col-lg-5 p-5" style="background-color: #000; color: white; min-height: 500px;">
        <div class="heading two">
          <span>Detalles de su viaje</span>
          <h2>Resumen del  <span>traslado</span></h2>
        </div>
        <select id="inputState-1" class="nice-select Advice">
          <option>Please select a location</option>
          <option>location 1</option>
          <option>location 2</option>
          <option>location 3</option>
          <option>location 4</option>
        </select>
        <div class="locations-pin">
          <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Anotaciones" style="width: 100%; border: 3px solid #d6c500; background: transparent; resize: none; padding: 12px 20px; height: auto; border-radius: 15px; background-color: #ffffff3b;"></textarea>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-4 gap-3 flex-wrap">
          <!-- Origen -->
          <div class="d-flex align-items-center flex-grow-1" style="min-width: 0;">
            <img src="assets/img/blue.png" alt="Origen" style="height: 30px; margin-right: 10px;">
            <div>
              <h5 style="margin: 0; font-size: 16px; font-weight: bold; color: #fff;">Origen</h5>
              <small>{{ origenTexto }}</small>
            </div>
          </div>
        
          <!-- Destino -->
          <div class="d-flex align-items-center flex-grow-1" style="min-width: 0;">
            <img src="assets/img/red.png" alt="Destino" style="height: 30px; margin-right: 10px;">
            <div>
              <h2 style="margin: 0; font-size: 26px; font-weight: bold; color: #fff;">Destino</h2>
              <h5 style="margin: 0; font-size: 26px; font-weight: bold; color: #fff;">{{ destinoTexto }}</h5>
            </div>
          </div>
          <div class="locations-pin mt-3 d-flex align-items-center">
            <img src="assets/img/distance.png" alt="Distancia" style="height: 50px; margin-right: 10px;">
            <div>
              <h4>Distancia</h4>
              <h2 style="font-size: 26px; font-weight: bold; color: #fff;">{{ distanciaKm | number:'1.1-2' }} km</h2>
            </div>
          </div>
          <div class="locations-pin mt-3 d-flex align-items-center">
            <img src="assets/img/distance.png" alt="Distancia" style="height: 50px; margin-right: 10px;">
            <div>
              <h4>Tarifa</h4>
              <h2 style="font-size: 26px; font-weight: bold; color: #fff;">{{ tarifaTotal | number:'1.1-2' }} $</h2>
            </div>
          </div>
          
        </div>
        
      </div>

      <!-- Columna derecha con el mapa -->
      <div class="col-lg-7 p-0">
        <div class="map-container" style="width: 100%; height: 100%; min-height: 600px;">
          <div #mapRef id="map" style="width: 100%; height: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
