<section class="gap locations-section">
    <img src="assets/img/bg-lins.jpg" alt="img">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="heading two">
            <span>Detalles de su viaje</span>
            <h2>Resumen del  <span>traslado</span></h2>
          </div>
          <select id="inputState-1" class="nice-select Advice">
            <option>Please select a location</option>
            <option>location 1</option>
            <option>location 2</option>
            <option>location 3</option>
            <option>location 4</option>
          </select>
          <div class="locations-pin">
            <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Anotaciones" style="width: 100%; border: 3px solid #d6c500; background: transparent; resize: none; padding: 12px 20px; height: auto; border-radius: 15px; background-color: #ffffff3b;"></textarea>
          </div>
          <div class="locations-pin">
            <img src="assets/img/locations-pin.png" alt="locations-pin">
            <div>
              <h4>Origen</h4>
              <h6>18C Nawab Town Railway Road</h6>
            </div>
          </div>
          <div class="locations-pin">
            <img src="assets/img/locations-pin.png" alt="locations-pin">
            <div>
              <h4>Destino</h4>
              <h6>18C Nawab Town Railway Road</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22049680.298987076!2d0.9947926603297451!3d47.57534951169652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ed8886cfadda85%3A0x72ef99e6b3fcf079!2sEurope!5e0!3m2!1sen!2s!4v1737454205968!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section> 
  